ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.message {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}
